.clients {
    @extend %section;
}
.container {
    @extend %container;
}
.section-title {
    @extend %section-title;
}

.clients-list {
    @extend %list;
    display: flex;
    flex-basis: calc((100% - 150px) / 6);
}
.clients-item:not(:nth-child(6n)) {
    margin-right: 30px;
   
}

 .clients-link {
     @extend %link;
     @include centered(inline-flex);
     @include transition(border);

    width: 170px;
    height: 92px;
    border: 1px solid $primary-icon-color;

    &:hover, &:focus {
        border: 1px solid $accent-color;
    }
}
.clients-icon {
    @include transition(fill);
    fill: $primary-icon-color;

    .clients-link:hover &,
.clients-link:focus & {
    fill: $accent-color;
}
}



